@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<section class="container half-height bg-white">
    <div class="container flex-center pt-5">
        <div class="d-flex align-items-center content-height">
            <div class="row flex-center pt-5 mt-3">
                <div class="col-md-6 text-center text-md-left mb-5">
                    <div>
                        <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Sign in! </h1>
                        <hr class="hr-light mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                        <h6 class="wow fadeInLeft" data-wow-delay="0.3s">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt
                            dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae,
                            quisquam iste, maiores. Nulla.
                        </h6>
                    </div>
                </div>

                <div class="col-md-6 col-xl-5">
                    <!--Form-->
                    <div class="card-register wow fadeInRight" data-wow-delay="0.3s">
                        <div class="card-body">
                            <!--Header-->
                            <div class="text-center">
                                <h3>
                                    Log in
                                </h3>
                            </div>

                            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                                <div class="md-form md-form-register">
                                    <i class="fa fa-envelope prefix"></i>
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="md-form md-form-register">
                                    <i class="fas fa-lock prefix active"></i>
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="md-form md-form-register float-right">
                                    <input type="checkbox" asp-for="RememberMe" checked />
                                    <label asp-for="RememberMe"></label>
                                </div>
                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-mdb-color">Sign in</button>
                                </div>
                                <hr class="hr-light">
                                <div class="md-form md-form-register text-right">
                                    <p>
                                        <a asp-action="ForgotPassword">Forgot your password?</a>
                                    </p>
                                    <p>
                                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>*@
@*<div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                    if (loginProviders.Count == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
